*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --txt-color: #212121;
    --second-color: #09A494;
    --bg-color: #FFFFFF;
}

body {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--txt-color);
    background-color: var(--bg-color);
}

.main-footer {
    color: var(--bg-color);
    background-color: var(--txt-color);
}

h1 {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    letter-spacing: 0%;
}

h2 {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0%;
}

h3 {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
}

.subtitle {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 38px;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--second-color);
}

button,
a {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-nav a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--txt-color);
}

.main-nav a:hover {
    color: var(--second-color);
}

button {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--second-color);
    border-radius: 8px;
    color: var(--second-color);
    background-color: var(--bg-color);
    padding: 6px 10px 10px 10px;
}

button:hover{
    background-color: var(--second-color);
    color: var(--bg-color);
}