*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --txt-color: #212121;
    --second-color: #09A494;
    --bg-color: #FFFFFF;
}

body {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--txt-color);
    background-color: var(--bg-color);
}

.main-footer {
    color: var(--bg-color);
    background-color: var(--txt-color);
}

h1 {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    letter-spacing: 0%;
}

h2 {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0%;
}

h3 {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
}

.subtitle {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 38px;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--second-color);
}

button,
a {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--second-color);
    border-radius: 8px;
    color: var(--second-color);
    background-color: var(--bg-color);
    padding: 6px 10px 10px 10px;
}

button:hover{
    background-color: var(--second-color);
    color: var(--bg-color);
}

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-nav a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--txt-color);
}

.main-nav a:hover {
    color: var(--second-color);
}

.my-photo {
    border-radius: 50%;
}

.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
    }
.skill-list dt {
    margin-bottom: 6px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
}
.skill-level {
    margin: 4px 0 20px;
    padding: 2px;
    font-size: 0;
    border: 1px solid var(--txt-color);
    border-radius: 16px;
}
.skill-level div {
    height: 14px;
    background-color: var(--second-color);
    border-radius: 8px;
}
.skill-item {
    transform: lowercase;
}
.html {
    background-image: url("/img/skill=html.svg");
}
.css {
    background-image: url("/img/skill=css.svg");
}
.cpp {
    background-image: url("/img/skill=c++.svg");
}
.python {
    background-image: url("/img/skill=python.svg");
}

.social-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.social-list li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social-link{
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid var(--second-color);
    border-radius: 50%;
    padding: 10px;
    background-color: var(--bg-color);
    background-repeat: no-repeat;
    background-position: center;
}

.social-link:hover{
    background-color: var(--second-color);
}

.github {
    background-image: url(/img/social=github.svg);
}
.gitlab {
    background-image: url(/img/social=gitlab.svg);
}
.x {
    background-image: url(/img/X.svg);
}
.telegram {
    background-image: url(/img/social=telegram.svg);
}
.vk {
    background-image: url(/img/social=vk.svg);
}
    
.contact-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contact-list li {
    display: inline-block;

    /* margin:40px;
    margin-left: 0; */

    padding: 0;
}

.contact-link {
    display: block;
    text-decoration: none;
    padding: 5px 0px 5px 42px;
    color: var(--txt-color);
    background-repeat: no-repeat;
}

.contact-link:hover {
    color: var(--second-color)
}

.email {
    background-image: url("/img/icon=emailBlack.svg");
}

.phone {
    background-image: url("/img/icon=phoneBlack.svg");
}
